<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <a href="{{ url_for('index.home_page') }}"
       class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img class="header_img" src="{{ url_for('static', filename='img/logo.jpg') }}" alt="Лого">
    </a>

    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{{ url_for('index.home_page') }}" class="nav-link px-2 text-secondary">Главная стрница</a></li>
        <li><a href="{{ url_for('movie.movie_list') }}" class="nav-link px-2 text-white">Список фильмов</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
        <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 text-white">About</a></li>
    </ul>

    <div class="text-end">
        <button type="button" class="btn btn-outline-light m-2" data-bs-toggle="modal" data-bs-target="#modal">Поиск
            фильмов...
        </button>
        <a href="{{ url_for('user.login') }}" type="button" class="btn btn-outline-light me-2">Войти</a>
        <a href="{{ url_for('user.register') }}" type="button" class="btn btn-warning">Регистрация</a>
    </div>
</div>
