.header {
    position: sticky;
    top: 0;
    padding: 20px;
}

.form-control input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.header_img {
    width: 96px;
    height: 96px;
}

.custom-vh-75 {
      height: 75vh;
  }
