.img-hover {
    position: relative;
    display: inline-block;
}

.img-hover img {
    transition: opacity 0.3s ease;
}

.img-hover:hover img {
    opacity: 0.7;
}

#post_img {
    width: 420px;
    height: 630px;
}